@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
		padding: 0;
		margin: 0;
		border: 0;
}

*, *:before, *:after {
		box-sizing: border-box;
}

:focus, :active {
		outline: none;
}

a, a:hover, a:active, a:visited {
		outline: none;
}

nav, footer, header, aside {
		display: block;
}

html, body {
		height: 100%;
		width: 100%;
		font-family: "Lato", sans-serif;
		font-size: 100%;
		line-height: 1;
		font-size: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

input, button, textarea {
		font-family: "Lato", sans-serif;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a, a:visited, a:link {
		text-decoration: none;
		color: black;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: 400;
}

/*-----------------------------------------------------------*/
body {
		background-color: #d6d6d6;
}

.wrapper {
		min-height: 100%;
		background-color: #ffffff;
		overflow: hidden;
}

.container {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
}

.header {
		height: 100px;
		padding: 25px 0;
		border: 1px solid #ececec;
}
.header__flex {
		display: flex;
		font-size: 0;
		justify-content: space-between;
		align-items: center;
}
.header__left {
		display: flex;
		font-size: 0;
		align-items: center;
		position: relative;
}
.header__left img {
		margin-right: 13px;
		height: 100%;
}
.header__left img:hover {
		box-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
		border-radius: 15px;
}
.header__left img:active {
		box-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
}
.header__left .brand {
		color: #222222;
		font-size: 27px;
		font-weight: 300;
		line-height: 32px;
		text-align: center;
		text-transform: uppercase;
		font-family: "Lato Light";
		letter-spacing: 0.68px;
		padding: 12px 0 5px 0;
}
.header__left .brand:hover {
		text-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
		font-weight: 700;
}
.header__left .brand:active {
		text-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
		font-weight: 300;
}
.header__left .letter {
		color: #f16d7f;
		font-family: Lato;
		font-weight: 700;
		letter-spacing: 0.68px;
		margin-right: 37px;
}
.header__input {
		width: 317px;
		height: 38px;
		border-radius: 0 3px 3px 0;
		border: 1px solid #e6e6e6;
		background-color: #ffffff;
		margin-top: 7px;
		margin-bottom: 6px;
		padding-left: 16px;
		padding-right: 100px;
}
.header__input [placeholder] {
		color: #a4a4a4;
		font-size: 14px;
		font-weight: 300;
		line-height: 32px;
		text-align: right;
		letter-spacing: 0.35px;
}
.header input {
		position: relative;
}
.header input:after {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #838383;
		position: absolute;
		left: 78%;
		top: 46%;
}
.header input:focus {
		background-color: #f0a8b1;
		color: white;
		font-size: 16px;
}
.header__right {
		display: flex;
		font-size: 0;
		align-items: center;
}

.header__browse-link {
		max-height: 38px;
		color: #222222;
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
		text-align: right;
		letter-spacing: 0.35px;
		padding: 10px 0px 12px 11px;
		margin-top: 7px;
		margin-bottom: 6px;
		border-radius: 3px 0 0 3px;
		border: 1px solid #e6e6e6;
		background-color: #cdcdcc;
		background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
		position: relative;
}
.header__browse-link:hover {
		cursor: pointer;
}

summary {
		display: block;
}

summary::-webkit-details-marker {
		display: none;
}

summary::after {
		content: "▶";
		padding-right: 0.5em;
		transform: rotate(90deg);
}

details[open] > summary::after {
		content: "▼";
		color: red;
		padding-left: 6px;
		padding-right: 6px;
}

summary::after {
		content: "▶";
		padding-left: 0.5em;
		color: #969696;
}

summary::before {
		content: "";
		display: none;
}

.cascade-browse {
		border: 2px solid #e8e8e8;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 20px 13px;
		position: absolute;
		top: 38px;
		left: 28.5px;
		z-index: 2;
}
.cascade-browse:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: #ffffff;
		border-top: 2px solid #e8e8e8;
		border-left: 2px solid #e8e8e8;
		transform: rotate(45deg);
		position: absolute;
		top: -7px;
		left: 35px;
		z-index: 10;
}

.cascade-browse__item:last-child {
		margin-right: 0;
}
.cascade-browse__item-title {
		width: 236px;
		color: #232323;
		font-size: 14px;
		line-height: 30px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.35px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e8e8e8;
}
.cascade-browse__item-list {
		position: relative;
}
.cascade-browse__item li {
		padding-bottom: 20px;
		padding-left: 7px;
}
.cascade-browse__item li:last-child {
		padding-bottom: 22px;
}
.cascade-browse__item-link {
		color: #646464;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		letter-spacing: 0.35px;
		display: block;
}
.cascade-browse__item-link:hover {
		color: #ef5b70;
}

.header__right .cart__img-1 {
		max-height: 29px;
}
.header__right .cart__img-1-a {
		padding-bottom: 50px;
}
.header__right .cart__img-1:hover {
		box-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
		border-radius: 2px;
		cursor: pointer;
}
.header__right .cart__img-1:active {
		box-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
}

.cart__img-1 {
		position: relative;
}
.cart__img-1:hover .cascade-cart {
		display: block;
}

.cascade-cart {
		width: 262px;
		border: 2px solid #e8e8e8;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 0 17px 20px 17px;
		position: absolute;
		top: 47px;
		left: -16px;
		z-index: 2;
		display: none;
}
.cascade-cart__row {
		display: flex;
		font-size: 0;
		flex-direction: column;
}
.cascade-cart:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: #ffffff;
		border-top: 2px solid #e8e8e8;
		border-left: 2px solid #e8e8e8;
		transform: rotate(45deg);
		position: absolute;
		top: -7px;
		left: 27px;
		z-index: 10;
}

.cascade-cart__item {
		height: 100%;
		border-bottom: 1px solid #ededed;
		padding-bottom: 16px;
		padding-top: 20px;
}

.cart__item-row {
		display: flex;
		font-size: 0;
		height: 100%;
}

.cart__content-row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		padding-top: 10px;
		padding-left: 15px;
}

.cart__item-title {
		color: #222222;
		font-size: 12px;
		font-weight: 700;
		text-align: right;
		text-transform: uppercase;
		padding-bottom: 12px;
}

.cart__simple-rating-1,
.cart__simple-rating-2 {
		position: relative;
		font-size: 12px;
		display: inline-block;
		padding-bottom: 24px;
}

.cart__simple-rating-1::before,
.cart__simple-rating-2::before {
		content: "★★★★★";
		display: block;
		position: absolute;
		top: 0;
		left: 44px;
		margin-left: -45px;
}

.cart__simple-rating-items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: -25px;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
}

.cart__simple-rating-item {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		top: 0;
		left: 0;
}

.cart__simple-rating-item:checked,
.cart__simple-rating-item:checked ~ .cart__simple-rating-label {
		color: #ffd300;
}

.cart__simple-rating-label {
		flex: 0 0 13.5%;
		height: 100%;
		cursor: pointer;
		color: #fff;
}

.cart__simple-rating-label::before {
		content: "★";
		display: block;
		transition: all 0.3s ease 0s;
}

.cart__simple-rating-label:hover,
.cart__simple-rating-label:hover ~ .cart__simple-rating-label,
.cart__simple-rating-label:checked ~ .cart__simple-rating-label:hover {
		color: #ffef9f;
}

.item__price {
		color: #f16d7f;
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		font-size: 10px;
}

.cascade-cart__sum {
		color: #222222;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 19px;
		padding-bottom: 32px;
}
.cascade-cart__sum .cart__total {
		float: left;
		display: inline-block;
		text-align: left;
}
.cascade-cart__sum .cart__money {
		text-align: right;
}

.cascade-cart__checkout {
		color: #f16d7f;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border-radius: 5px;
		border: 1.5px solid #f16d7f;
		background-color: #ffffff;
		padding: 19px 74px;
		margin-bottom: 11px;
}
.cascade-cart__checkout:hover {
		background-color: #f16d7f;
		color: #ffffff;
		transition: all 0.5s ease 0s;
}

.cascade-cart__goToCart {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border: 1.5px solid #eaeaea;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 19px 69px;
}
.cascade-cart__goToCart:hover {
		background-color: #696868;
		color: #ffffff;
		transition: all 0.5s ease 0s;
}

a.account__link {
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		text-align: left;
		letter-spacing: 0.38px;
		background-color: #f16d7f;
		padding: 12px 31px 12px 21px;
		margin-left: 23px;
		position: relative;
}
a.account__link:hover {
		color: yellow;
		box-shadow: inset 0 0px 15px rgba(240, 204, 3, 0.8);
}
a.account__link:active {
		color: white;
		box-shadow: inset 0 0px 10px rgba(253, 253, 253, 0.8);
		box-shadow: 0 0px 15px rgba(240, 204, 3, 0.8);
}
a.account__link:after {
		content: "";
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #ffffff;
		position: absolute;
		right: 9%;
		top: 46%;
}
a.account__link:hover:after {
		border-top: 6px solid yellow;
}
a.account__link:active:after {
		border-top: 6px solid white;
}

.top-menu {
		display: block;
		height: 51px;
		background-color: #fff;
		margin: 0 auto;
		padding-top: 15px;
}

.menu__list {
		display: flex;
		font-size: 0;
}
.menu__list .menu__item {
		padding-right: 45px;
}
.menu__list .menu__item:last-child {
		padding-right: 0;
}

.menu__item {
		position: relative;
}
.menu__item:hover .cascade {
		display: flex;
}

.menu__link {
		color: #222222;
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		padding-bottom: 18px;
}
.menu__link:hover {
		border-bottom: 3px solid #ef5b70;
}
.menu__link:active {
		color: #999999;
		border-bottom: none;
}

.cascade {
		border: 2px solid #e8e8e8;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 20px 25px;
		position: absolute;
		top: 27px;
		left: -25px;
		display: none;
		z-index: 2;
}
.cascade__row {
		display: flex;
		font-size: 0;
}
.cascade:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: #ffffff;
		border-top: 2px solid #e8e8e8;
		border-left: 2px solid #e8e8e8;
		transform: rotate(45deg);
		position: absolute;
		top: -7px;
		left: 35px;
}

.cascade__item {
		margin-right: 46px;
}
.cascade__item:last-child {
		margin-right: 0;
}
.cascade__item-title {
		width: 235px;
		color: #232323;
		font-size: 14px;
		line-height: 30px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.35px;
		margin-bottom: 20px;
		border-bottom: 1px solid #e8e8e8;
}
.cascade__item-list {
		position: relative;
}
.cascade__item-list .super-sale {
		display: inline-block;
		width: 71px;
		color: #ffffff;
		font-size: 22px;
		font-weight: 700;
		line-height: 28px;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.55px;
		position: absolute;
		bottom: 12px;
		right: 6px;
}
.cascade__item li {
		padding-bottom: 20px;
}
.cascade__item li:last-child {
		padding-bottom: 0;
}
.cascade__item-link {
		color: #646464;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		letter-spacing: 0.35px;
		display: block;
}
.cascade__item-link:hover {
		color: #ef5b70;
}

@font-face {
		font-family: "icon";
		src: url("../fonts/icon.eot?xur34r");
		src: url("../fonts/icon.eot?xur34r#iefix") format("embedded-opentype"), url("../fonts/icon.ttf?xur34r") format("truetype"), url("../fonts/icon.woff?xur34r") format("woff"), url("../fonts/icon.svg?xur34r#icon") format("svg");
		font-weight: normal;
		font-style: normal;
		font-display: block;
}
[class^=icon-]::after,
[class*=" icon-"]::after,
[class^=icon-]::before,
[class*=" icon-"]::before {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: "icon" !important;
		font-family: "fontello";
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
		content: "";
}

.icon-search:before {
		content: "";
		color: #a4a4a4;
		font-family: "Font Awesome";
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		background-color: #fff;
		padding: 11px;
		border: 1px solid #e6e6e6;
		border-radius: 0 3px 3px 0;
		cursor: pointer;
		position: absolute;
		top: 7px;
		right: 0px;
}

.icon-search:hover:before {
		box-shadow: inset 0 0px 15px rgba(241, 99, 99, 0.8);
		color: red;
}

.icon-search:active:before {
		box-shadow: inset 0 0px 5px rgba(36, 0, 241, 0.8);
		color: blue;
}

.icon-arrow-right::after {
		content: "";
		color: #ffffff;
		font-family: "Font Awesome";
		font-size: 15px;
		font-weight: 400;
		line-height: 54px;
		text-align: center;
		letter-spacing: 0.38px;
		cursor: pointer;
		position: absolute;
		top: 1.5px;
		right: 20px;
		transform: scale(1.3, 0.5);
}

.icon-arrow-right:hover::after {
		color: yellow;
		transform: scale(1.56, 0.6);
}

.icon-arrow-right:active::after {
		color: white;
}

.icon-ctrl:before {
		content: "";
		width: 8px;
		height: 14px;
		color: #ffffff;
		font-family: "Font Awesome";
		font-size: 24px;
		font-weight: 400;
}

.footer {
		height: 79px;
		background-color: #e6e6e6;
}
.footer__row {
		display: flex;
		font-size: 0;
		justify-content: space-between;
		align-items: center;
}
.footer__left {
		color: #7a7a7a;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 42px;
		text-align: right;
		letter-spacing: 0.4px;
}
.footer__right {
		padding: 24px 0 24px 0;
}

.footer__right-row-link {
		margin-right: 8px;
}
.footer__right-row-link:last-child {
		margin-right: 0;
}
.footer__right-row-link img {
		height: 32px;
}
.footer__right-row-link img:hover {
		box-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
}
.footer__right-row-link img:active {
		box-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
}

.subscribe {
		height: 438px;
		position: relative;
}
.subscribe__img {
		background: url("../img/index/subscribe.jpg");
		opacity: 0.5;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
}

.subscribe__items {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.subscribe__flex {
		display: flex;
		font-size: 0;
		width: 100%;
}

.subscribe__item-left {
		flex: 0 1 50%;
		display: flex;
		font-size: 0;
		padding-right: 72px;
		padding-top: 111px;
}
.subscribe__item-left img {
		height: 83px;
}

.left__content {
		padding-left: 28px;
}
.left__content .italic {
		color: #222224;
		font-size: 16px;
		font-style: italic;
		line-height: 26px;
		text-align: left;
		letter-spacing: 0.4px;
}
.left__content .name {
		color: #f16d7f;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
		font-weight: 700;
		letter-spacing: 0.4px;
		line-height: 26px;
		padding-top: 15px;
}
.left__content .company {
		color: #222224;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0.3px;
		line-height: 12px;
}
.left__content .slider {
		margin-top: 39px;
}
.left__content .slider__row {
		display: flex;
		font-size: 0;
}
.left__content .slider__item {
		width: 38px;
		height: 4px;
}
.left__content .slider__item_l, .left__content .slider__item_r {
		background-color: #d9d9d9;
}
.left__content .slider__item_l:hover, .left__content .slider__item_r:hover {
		cursor: pointer;
		background-color: #f16d7f;
		border: 1px solid #f16d7f;
}
.left__content .slider__item_c {
		margin-left: 13px;
		margin-right: 13px;
		background-color: #f16d7f;
}

.subscribe__item-right {
		height: 438px;
		display: flex;
		font-size: 0;
		flex-direction: column;
		flex: 0 1 50%;
		border-left: 1.5px solid #ffffff;
		padding-left: 92px;
		padding-top: 128px;
}
.subscribe__item-right-row {
		align-items: center;
}

.item__right-title {
		color: #222224;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding-right: 143px;
		padding-left: 54px;
}
.item__right-title .right-upTitle {
		font-size: 24px;
		letter-spacing: 0.6px;
		line-height: 45px;
}
.item__right-title .right-downTitle {
		font-size: 14px;
		letter-spacing: 0.35px;
		line-height: 14px;
}

.item__right-input {
		position: relative;
		margin-top: 35px;
		align-items: center;
}
.item__right-input .input-subscribe {
		width: 334px;
		height: 46px;
		border-radius: 23px;
		background-color: #e1e1e1;
}
.item__right-input .input-subscribe[placeholder] {
		padding-left: 28px;
		opacity: 0.67;
		color: #222224;
		font-size: 14px;
		font-weight: 400;
		line-height: 54px;
		letter-spacing: 0.35px;
}
.item__right-input .input-subscribe:focus {
		background-color: #f0a8b1;
		color: white;
		font-size: 16px;
}
.item__right-input .subscribe-btn {
		position: absolute;
		top: 0;
		left: 283px;
		width: 104px;
		height: 46px;
		border-radius: 0 23px 23px 0;
		background-color: #f16d7f;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 44px;
		text-align: center;
		letter-spacing: 0.35px;
}
.item__right-input .subscribe-btn:hover {
		color: yellow;
		box-shadow: inset 0 0px 15px rgba(240, 204, 3, 0.8);
}
.item__right-input .subscribe-btn:active {
		color: white;
		box-shadow: inset 0 0px 10px rgba(253, 253, 253, 0.8);
		box-shadow: 0 0px 15px rgba(240, 204, 3, 0.8);
}

.brand__footer {
		height: 460px;
		max-width: 100%;
		padding-top: 109px;
		padding-bottom: 90px;
}
.brand__footer-row {
		display: flex;
		font-size: 0;
		justify-content: space-between;
}

.brand__description {
		flex: 0 1 40%;
}
.brand__description__description-row {
		display: flex;
		font-size: 0;
		flex-direction: column;
}

.brand__description-items {
		display: flex;
		font-size: 0;
		position: relative;
}
.brand__description-items img {
		margin-right: 13px;
		height: 100%;
}
.brand__description-items img:hover {
		box-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
		border-radius: 15px;
}
.brand__description-items img:active {
		box-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
}
.brand__description-items .brand-name {
		color: #222222;
		font-size: 27px;
		font-weight: 300;
		line-height: 32px;
		text-transform: uppercase;
		font-family: "Lato Light";
		letter-spacing: 0.68px;
		padding: 12px 0 5px 0;
}
.brand__description-items .brand-name:hover {
		text-shadow: 0 0px 15px rgba(241, 99, 99, 0.8);
		font-weight: 700;
}
.brand__description-items .brand-name:active {
		text-shadow: 0 0px 5px rgba(36, 0, 241, 0.8);
		font-weight: 300;
}
.brand__description-items .letter {
		color: #f16d7f;
		font-family: Lato;
		font-weight: 700;
		letter-spacing: 0.68px;
		margin-right: 37px;
}

.brand__description-text {
		color: #898989;
		font-family: Lato;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: left;
		letter-spacing: 0.35px;
		padding-top: 20px;
		padding-right: 27px;
}
.brand__description-text p:first-child {
		padding-bottom: 20px;
}

.brand__menu {
		flex: 0 1 20%;
		height: 100%;
}
.brand__menu-row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		padding-left: 40px;
}
.brand__menu-title {
		color: #f16d7f;
		font-size: 18px;
		font-weight: 700;
		line-height: 46px;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.45px;
		padding-bottom: 8px;
}
.brand__menu-link {
		color: #898989;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		letter-spacing: 0.4px;
		line-height: 59px;
		letter-spacing: 0.4px;
		line-height: 42px;
}
.brand__menu-link:hover {
		color: #ef5b70;
}
.brand__menu-link:active {
		color: #999999;
		border-bottom: none;
}

.mainScreen_single-item {
		display: flex;
		font-size: 0;
		position: relative;
		height: 80vh;
		width: 100%;
		height: 777px;
		border: 1px solid #eaeaea;
		background-color: #f7f7f7;
}
.mainScreen_single-item img {
		max-height: 724px;
		margin: 0 auto;
}
.mainScreen_single-item .slider__arrow {
		width: 47px;
		height: 47px;
		background-color: #D8D8D8;
		text-align: center;
		align-self: center;
}
.mainScreen_single-item .slider__arrow_l {
		transform: rotate(270deg);
		padding-top: 18px;
}
.mainScreen_single-item .slider__arrow_r {
		transform: rotate(90deg);
		padding-top: 18px;
}

.empty {
		position: relative;
}

.moschino {
		width: 100%;
		display: flex;
		position: absolute;
		top: -85px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		padding: 73px 0 122px 0;
}
.moschino__row {
		display: flex;
		font-size: 0;
		max-width: 648px;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin: 0 auto;
		padding: 0 15px;
}
.moschino__title {
		display: flex;
		font-size: 0;
		flex-direction: column;
		align-items: center;
		padding-bottom: 13px;
}
.moschino__title-h5 {
		color: #f16d7f;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		text-align: center;
		text-transform: uppercase;
}

.moschino-slider {
		margin-top: 13px;
}
.moschino-slider__row {
		display: flex;
		font-size: 0;
}
.moschino-slider__item {
		width: 147px;
		height: 1px;
}

.slider__item_l {
		width: 42px;
		border: 1px solid #eaeaea;
		align-self: center;
}
.slider__item_l:hover {
		cursor: pointer;
		background-color: #f16d7f;
		border: 1.5px solid #f16d7f;
}

.slider__item_c {
		width: 42px;
		height: 3px;
		background-color: #ef5b70;
}
.slider__item_c:hover {
		cursor: pointer;
		background-color: #eaeaea;
		border: 1px solid #eaeaea;
}

.slider__item_r {
		width: 42px;
		border: 1px solid #eaeaea;
		align-self: center;
}
.slider__item_r:hover {
		cursor: pointer;
		background-color: #f16d7f;
		border: 1.5px solid #f16d7f;
}

.moschino__cheap-chic {
		display: flex;
		font-size: 0;
		flex-direction: column;
		width: 100%;
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 44px;
}
.moschino__cheap-chic-title {
		color: #4d4d4d;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 60px;
}
.moschino__cheap-chic-text {
		color: #5e5e5e;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		padding-bottom: 28px;
}

.moschino__material-designer-row {
		display: flex;
		font-size: 0;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 37px;
}

.moschino__material-content {
		color: #b9b9b9;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-right: 44px;
}
.moschino__material-content span {
		color: #2f2f2f;
}

.moschino__designer-content {
		color: #b9b9b9;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
}
.moschino__designer-content span {
		color: #2f2f2f;
}

.moschino__price {
		color: #ef5b70;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
}

.moschino__choose {
		width: 537px;
		padding-top: 63px;
		padding-bottom: 28px;
}
.moschino__choose-row {
		display: flex;
		font-size: 0;
		justify-content: space-between;
}

.title {
		color: #2f2f2f;
		font-size: 14px;
		font-weight: 700;
		line-height: 14px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 16px;
}

.moschino__choose-color {
		display: flex;
		font-size: 0;
		flex-direction: column;
		position: relative;
}

.choose-color__select {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-left: 37px;
}
.choose-color__select .option-red {
		color: red;
}
.choose-color__select .option-green {
		color: green;
}
.choose-color__select .option-blue {
		color: blue;
}
.choose-color__select .option-yellow {
		color: #969607;
}

.checkbox-color {
		position: absolute;
		opacity: 0;
		margin: 10px 0 0 20px;
}

.checkbox-color + label {
		position: relative;
		padding: 0 0 0 60px;
}

.checkbox-color + label:before {
		content: "";
		position: absolute;
		top: 16px;
		left: 15px;
		width: 12px;
		height: 12px;
		background: red;
}

.moschino__choose-size {
		display: flex;
		font-size: 0;
		flex-direction: column;
}

.choose-size__select {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-left: 12px;
}

.moschino__choose-quantity {
		display: flex;
		font-size: 0;
		flex-direction: column;
}

.choose-quantity__input {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
}
.choose-quantity__input[placeholder] {
		color: #bcbcbc;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		padding-left: 15px;
}
.choose-quantity__input:focus {
		border: 1px solid red;
}

.moschino-btn__row {
		display: flex;
		position: relative;
}
.moschino-btn__logo {
		position: absolute;
		top: 32%;
		left: 210px;
		width: 26px;
		height: 24px;
		background-color: #ffffff;
}
.moschino-btn__link {
		color: #ef5b70;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
		border: 1.5px solid #ef5b70;
		background-color: #ffffff;
		padding: 23px 206px 21px 248px;
}
.moschino-btn__link:hover {
		box-shadow: inset 0 0 20px #ef5b70;
		color: #ef5b70;
		transition: all 0.5s ease;
}
.moschino-btn__link:active {
		box-shadow: inset 0 0 10px #ef5b70;
		color: #f761789a;
		transition: all 0.5s ease;
}

.empty-2 {
		height: 763px;
}

.likeAlso {
		margin-top: 44px;
		margin-bottom: 73px;
}
.likeAlso__title {
		color: #4d4d4d;
		font-size: 24px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 70px;
}
.likeAlso__gallery_row {
		display: flex;
}
.likeAlso__gallery_item {
		padding-bottom: 21px;
		margin-right: 31px;
}
.likeAlso__gallery_item:last-child {
		margin-right: 0;
}

.likeAlso__item_2 {
		margin-top: -12px;
}

.likeAlso-item-text {
		padding: 20px 15px 0 15px;
		text-align: left;
}
.likeAlso-item-text__title {
		color: #222222;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		padding-bottom: 17px;
}
.likeAlso-item-text__price {
		color: #f16d7f;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
}

.newArrivals {
		display: flex;
		font-size: 0;
		height: 148px;
		background-color: #f8f3f4;
		align-items: center;
}
.newArrivals__row {
		display: flex;
		font-size: 0;
		justify-content: space-between;
}
.newArrivals__title {
		color: #f16d7f;
		font-size: 24px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
}

.breadcrumb {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		background-color: #f8f3f4;
		margin: 0;
		padding-right: 0;
}
.breadcrumb .active {
		font-weight: 700;
		color: #f16d7f;
}
.breadcrumb .breadcrumb__link {
		color: #636363;
}
.breadcrumb .breadcrumb__link:link {
		text-decoration: none;
}
.breadcrumb .breadcrumb__link:hover {
		color: #a5a3a3;
}
.breadcrumb .breadcrumb__link:active {
		color: #f16d7f;
}

.accordion {
		margin: 89px 0 93px 0;
		border-bottom: 1px solid #e8e8e8;
}

.title-accordion {
		color: #222222;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
}

.accordion .trigger #checkbox-1,
.accordion .trigger #checkbox-2,
.accordion .trigger #checkbox-3 {
		display: none;
}

.accordion .trigger .checkbox {
		font-size: 16px;
		margin: 0;
		line-height: 72px;
		color: #222222;
		font-weight: 700;
		cursor: pointer;
		background-color: #ffffff;
		text-transform: uppercase;
}

.accordion .trigger .content-accordion {
		position: relative;
		max-height: 1px;
		padding: 0;
		overflow-y: scroll;
		font-size: 14px;
		line-height: 1.5;
		background-color: #ffffff;
		transition: max-height 500ms ease-in-out;
		overflow: hidden;
}

#checkbox-1:checked ~ .content-accordion,
#checkbox-2:checked ~ .content-accordion,
#checkbox-3:checked ~ .content-accordion {
		max-height: 473px;
		transition: max-height 500ms ease-in-out;
}

.content-accordion__row {
		display: flex;
		font-size: 0;
		min-height: 473px;
}
.content-accordion__left {
		width: 50%;
		padding-left: 35px;
}
.content-accordion__right {
		width: 50%;
		padding-left: 35px;
}

.check-guest__row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		min-height: 100%;
}
.check-guest__title {
		color: #222222;
		font-size: 13px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		padding-top: 11px;
}
.check-guest__text {
		color: #b3b2b2;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		padding: 12px 0 30px 0;
}
.check-guest__radio {
		display: flex;
		font-size: 0;
		align-items: center;
}
.check-guest__radio input {
		width: 14px;
		height: 14px;
		border: 2px solid #555555;
		background-color: #ffffff;
		margin: 0 14px 17px 0;
}
.check-guest__radio label {
		color: #222222;
		font-family: Lato;
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		margin: 0 0 17px 0;
}

.register__radio {
		display: flex;
		font-size: 0;
		align-items: center;
}
.register__radio input {
		width: 14px;
		height: 14px;
		border: 2px solid #555555;
		background-color: #ffffff;
		margin: 0 14px 31px 0;
}
.register__radio label {
		color: #222222;
		font-family: Lato;
		font-size: 12px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		margin: 0 0 31px 0;
}

.register__row {
		display: flex;
		font-size: 0;
		flex-direction: column;
}
.register__title {
		color: #222222;
		font-size: 13px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
}
.register__text {
		color: #b3b2b2;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		padding: 12px 0 30px 0;
}
.register__ul {
		font-size: 13px;
		font-weight: 400;
		text-align: left;
}
li .register__list {
		display: block;
		padding-bottom: 5px;
}

a.register__link {
		color: #b3b2b2;
		line-height: 20px;
		/*
			&::before {
				content: "";
				width: 8px;
				height: 8px;
				color: #b3b2b2;
				font-size: 13px;
				font-weight: 700;
				line-height: 20px;
				text-align: left;
				padding-right: 4px;
			}
		*/
}
a.register__link span {
		font-size: 18px;
		padding-right: 2px;
}
a.register__link:hover {
		color: #ef5b70;
}
a.register__link:active {
		color: #cccccc;
}

.continue__btn {
		margin-top: 42px;
}
.continue__link {
		color: #4a4a4a;
		font-family: Lato;
		font-size: 14px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		padding: 19px 54px;
}
.continue__link:hover {
		color: #ef5b70;
		border: 1px solid #ef5b70;
		box-shadow: inset 0 0 20px #ef5b70;
		transition: all 0.5s ease;
}
.continue__link:active {
		box-shadow: inset 0 0 10px #ef5b70;
		color: #f761789a;
		transition: all 0.5s ease;
}

.accordion__right-row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		min-height: 100%;
}
.accordion__right-title {
		color: #222222;
		font-size: 13px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		padding-top: 11px;
}
.accordion__right-text {
		color: #b3b2b2;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		padding: 12px 0 30px 0;
}
.accordion__right-email {
		display: flex;
		font-size: 0;
		flex-direction: column;
}
.accordion__right-email label[for=email] {
		color: #222222;
		font-family: Lato;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 11px;
}
.accordion__right-email sub {
		font-size: 20px;
		color: #ff0d0d;
		padding-left: 1px;
}
.accordion__right-email #right-email {
		max-width: 390px;
		height: 45px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
}
.accordion__right-password {
		display: flex;
		font-size: 0;
		flex-direction: column;
		margin-top: 23px;
}
.accordion__right-password label[for=password] {
		color: #222222;
		font-family: Lato;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 11px;
}
.accordion__right-password sub {
		font-size: 20px;
		color: #ff0d0d;
		padding-left: 1px;
}
.accordion__right-password #right-password {
		max-width: 390px;
		height: 45px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
}

.required-text {
		color: #ff0d0d;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		margin: 16px 0 0 0;
}

.log-in__btn {
		margin-top: 49px;
}

.forgot-text {
		color: #222222;
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		padding: 24px 0 14px 32px;
}
.forgot-text:hover {
		color: #ef5b70;
}
.forgot-text:active {
		color: #cccccc;
}

.mainPage {
		display: flex;
		font-size: 0;
		flex-direction: column;
}

.mainScreen {
		background: url("../img/index/main_top.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 80vh;
}
.mainScreen__title {
		color: black;
		font-size: 40px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		padding-top: 276px;
		padding-bottom: 300px;
		display: flex;
		align-items: center;
}
.mainScreen__title::before {
		content: "";
		display: inline-block;
		width: 12px;
		height: 92px;
		background-color: #f16d7f;
		margin-right: 13px;
}
.mainScreen__title .upTitle {
		font-size: 60px;
		letter-spacing: 1.5px;
		padding-bottom: 16px;
		line-height: 40px;
}
.mainScreen__title .downTitle {
		letter-spacing: 1px;
		margin-bottom: -7px;
}
.mainScreen__title .fashion {
		color: #f16d7f;
		letter-spacing: 1px;
}
.mainScreen__content:hover .downTitle,
.mainScreen__content:hover .upTitle {
		color: #f16d7f;
}
.mainScreen__content:hover .fashion {
		color: #222222;
}
.mainScreen__content:active .downTitle,
.mainScreen__content:active .upTitle {
		color: #222222;
}
.mainScreen__content:active .fashion {
		color: lightgray;
}

.gallery {
		margin-top: 100px;
}
.gallery__row {
		display: flex;
		font-size: 0;
}
.gallery__element {
		justify-content: space-between;
		width: 100%;
}

.galery__element_left {
		padding-right: 10px;
}

.galery__element_right {
		padding-left: 10px;
}

.element__row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		position: relative;
}

.label {
		display: inline-block;
		background-color: #ffffff;
		padding: 12px 12px;
		margin-top: 26px;
		text-transform: uppercase;
		font-weight: 700;
}
.label:hover {
		box-shadow: inset 0 0 30px gray;
}
.label:active {
		box-shadow: inset 0 0 10px gray;
}

.upLabel {
		color: #222222;
		font-size: 18px;
		text-align: left;
		letter-spacing: 0.45px;
		line-height: 22px;
}

.downLabel {
		color: #f16d7f;
		font-size: 30px;
		letter-spacing: 0.75px;
		line-height: 36px;
}

.big__foto-left {
		height: 542px;
		background: url("../img/index/gallery/gallery_man.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 10px;
}

.small__foto-left {
		height: 240px;
		background: url("../img/index/gallery/gallery_accessories.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 10px;
}

.small__foto-right {
		height: 240px;
		background: url("../img/index/gallery/gallery_woman.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 10px;
}

.big__foto-right {
		height: 542px;
		background: url("../img/index/gallery/gallery_child.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 10px;
}

.fetured {
		padding-top: 100px;
		padding-bottom: 113px;
}
.fetured .fetured__title {
		text-align: center;
		padding-bottom: 60px;
}
.fetured .fetured__title-h2 {
		color: #222222;
		font-family: Lato;
		font-size: 30px;
		font-weight: 700;
		line-height: 54px;
		letter-spacing: 0.75px;
}
.fetured .fetured__title-text {
		color: #9f9f9f;
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.35px;
}

.fetured__gallery_row {
		display: flex;
		font-size: 0;
		margin-bottom: 39px;
}
.fetured__gallery_item {
		flex: 0 1 25%;
		margin-right: 32px;
		height: 364px;
}
.fetured__gallery_item:last-child {
		margin-right: 0;
}
.fetured__gallery_item:hover {
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.addToCart:hover .addLogo {
		opacity: 1;
		visibility: visible;
}

.addLogo {
		height: 77%;
		display: flex;
		font-size: 0;
		transition: all 0.4s ease 0s;
		justify-content: center;
		align-items: center;
		background-color: rgba(36, 35, 35, 0.6);
		opacity: 0;
		visibility: hidden;
}
.addLogo:active {
		box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.6);
		background-color: transparent;
}
.addLogo:active .logoItem {
		visibility: hidden;
}

.logoItem {
		display: flex;
		font-size: 0;
		justify-content: center;
		align-items: center;
		padding: 9px 13px;
		border: 1px solid #ffffff;
}

.addText {
		color: #ffffff;
		font-size: 13px;
		font-weight: 700;
		text-align: left;
		padding-left: 8px;
}

.item__img_1 {
		background: url("../img/index/fetured/fetured_1.jpg") 0 0 no-repeat;
}
.item__img_2 {
		background: url("../img/index/fetured/fetured_2.jpg") 0 0 no-repeat;
}
.item__img_3 {
		background: url("../img/index/fetured/fetured_3.jpg") 0 0 no-repeat;
}
.item__img_4 {
		background: url("../img/index/fetured/fetured_4.jpg") 0 0 no-repeat;
}
.item__img_5 {
		background: url("../img/index/fetured/fetured_5.jpg") 0 0 no-repeat;
}
.item__img_6 {
		background: url("../img/index/fetured/fetured_6.jpg") 0 0 no-repeat;
}
.item__img_7 {
		background: url("../img/index/fetured/fetured_7.jpg") 0 0 no-repeat;
}
.item__img_8 {
		background: url("../img/index/fetured/fetured_8.jpg") 0 0 no-repeat;
}

.item-text {
		padding: 20px 15px 0 15px;
		text-align: left;
}
.item-text__title {
		color: #222222;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		padding-bottom: 17px;
}
.item-text__price {
		color: #f16d7f;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
}

.fetured__link {
		text-align: center;
		margin-top: 60px;
}
.fetured__link .allProducts {
		position: relative;
		width: 145px;
		height: 11px;
		color: #ffffff;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		line-height: 54px;
		text-align: center;
		letter-spacing: 0.4px;
		background-color: #f16d7f;
		padding: 17px 48px 17px 24px;
}
.fetured__link .allProducts:hover {
		color: yellow;
		box-shadow: inset 0 0px 15px rgba(240, 204, 3, 0.8);
}
.fetured__link .allProducts:active {
		color: white;
		box-shadow: inset 0 0px 10px rgba(253, 253, 253, 0.8);
		box-shadow: 0 0px 15px rgba(240, 204, 3, 0.8);
}

.offer {
		margin-bottom: 97px;
}
.offer__row {
		display: flex;
		font-size: 0;
}

.offer__item {
		flex: 0 1 67.28%;
		height: 529px;
		background: url("../img/index/main_bottom.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 146px;
		padding-left: 39px;
}

.offer__title a {
		color: #ffffff;
		font-size: 54px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 1.5px;
}
.offer__title a .offer__upTitle {
		line-height: 60px;
}
.offer__title a .offer__upTitle .offerRed {
		color: #f16d7f;
		padding-left: 8px;
}
.offer__title a .offer__downTitle {
		font-size: 32px;
		letter-spacing: 0.9px;
}
.offer__title a:hover .offer__upTitle,
.offer__title a:hover .offer__downTitle {
		color: #f16d7f;
}
.offer__title a:hover .offerRed {
		color: #ffffff;
}
.offer__title a:active .offer__upTitle,
.offer__title a:active .offer__downTitle {
		color: #ffffff;
}
.offer__title a:active .offerRed {
		color: gray;
}

.sideBar {
		flex: 0 1 32.72%;
		background-color: #222224;
		max-height: 529px;
}
.sideBar__row {
		display: flex;
		font-size: 0;
		flex-direction: column;
		padding: 48px 40px 48px 40px;
		height: 100%;
}
.sideBar__item {
		height: 33.3333%;
		display: flex;
		font-size: 0;
}
.sideBar__item img {
		height: 32px;
		margin-right: 32px;
}
.sideBar__item-title {
		color: #fbfbfb;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
		letter-spacing: 0.5px;
		line-height: 33px;
}
.sideBar__item-text {
		color: #fbfbfb;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: justify;
		letter-spacing: 0.35px;
		padding-top: 11px;
}

.discounts img {
		height: 42px;
}