//https://www.w3schools.com/tags/ref_colornames.asp

//<Color Names Supported by All Browsers>---------------
$Black:				#000000; //rgb(0, 0, 0)
$Blue_:				#0000FF; //rgb(0, 0, 255)


$Aqua_:				#00FFFF; //rgb(0, 255, 255)

$CadetBlue:			#5F9EA0; //rgb(95, 158, 160)

$CornflowerBlue:	#6495ED; //rgb(100, 149, 237)

$Chartreuse:		#7FFF00; //rgb(127, 255, 0)

$DarkGreen: 		#006400; //rgb(0, 100, 0)

$Aquamarine: 		#7FFFD4; //rgb(127, 255, 212)


$BlueViolet:		#8A2BE2; //rgb(138, 43, 226)

$Brown:				#A52A2A; //rgb(165, 42, 42) 



$Chocolate: 		#D2691E; //rgb(210, 105, 30)

$Crimson:			#DC143C; //rgb(220, 20, 60) 

$BurlyWood:			#DEB887; //rgb(222, 184, 135)

$AliceBlue:			#F0F8FF; //rgb(240, 248, 255)
$Azure:				#F0FFFF; //rgb(240, 255, 255)
$Beige:				#F5F5DC; //rgb(245, 245, 220)
$AntiqueWhite: 	#FAEBD7; //rgb(250, 235, 215)
$Bisque:				#FFE4C4; //rgb(255, 228, 196)
$BlanchedAlmond:	#FFEBCD; //rgb(255, 235, 205)


$Coral:				#FF7F50; //rgb(255, 127, 80)








//</Color Names Supported by All Browsers>--------------