

@media (min-width: 720px) {
	.product-grid {
		min-height: 100%;
		display: grid;
		grid-template: 1fr / 243px 1fr;
		grid-template-areas:
			"sidebar"
			"product";
	}
}



//<SIDEBAR>============================================================================================
//<SIDEBAR ACCORDiON>----------------------------------------------------------------------------------

.product-sidebar {
	grid-area: sidebar;	
}

.sidebar__accordion-menu {
	display: grid;
	grid-auto-rows: auto;
	margin: 62px 0 93px 0;
	grid-template-columns: 1fr;
}

.sidebar__trigger {
	padding-top: 0;
}

.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-1,
.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-2,
.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-3 {
	display: none;
}

.sidebar__accordion-menu .sidebar__trigger .menu-title {
	font-size: 14px;
	position: relative;
	color: #6f6e6e;
	font-weight: 700;
	cursor: pointer;
	background-color: #ffffff;
	text-transform: uppercase;
	display: block;
	border-bottom: 1px solid #e8e8e8;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 14px;
	padding-left: 16px;
	&::before {
		content: "";
		//display: inline-block;
		width: 5px;
		height: 37px;
		background-color: #ef5b70;
		//margin-right: 11px;
		position: absolute;
		top: 0;
		left: 0;
	}
	i::after {
		content: "";
		border-style: solid;
		border-width: 9px 6px 0 6px;
		border-color: #6f6e6e transparent transparent transparent;
		position: absolute;
		top: 19.81px-6;
		right: 8px;
		
	}
	&:hover {
		color: #ef5b70;
	}
	&:active {
		color: #929292;
	}
}

#checkbox-sidebar-1:checked~.menu-title,
#checkbox-sidebar-2:checked~.menu-title,
#checkbox-sidebar-3:checked~.menu-title {
	color: #ef5b70;
}

#checkbox-sidebar-1:checked~.menu-title i::after,
#checkbox-sidebar-2:checked~.menu-title i::after,
#checkbox-sidebar-3:checked~.menu-title i::after {
	border-width: 0 6px 9px 6px;
	border-color: transparent transparent #ef5b70 transparent;
}

.sidebar__accordion-menu .sidebar__trigger .sidebar__content {
	max-height: 1px;
	padding: 0px 0 0px 16px;
	background-color: #ffffff;
	transition: max-height 400ms linear;
	overflow: hidden;
	margin-top: 18px;
}

#checkbox-sidebar-1:checked~.sidebar__content,
#checkbox-sidebar-2:checked~.sidebar__content,
#checkbox-sidebar-3:checked~.sidebar__content {
	max-height: 473px;
	transition: max-height 800ms linear;
}

	.sidebar__content {
		&-list {
			line-height: 33px;
		}
		&-link {
			display: block;
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 400;
			text-align: left;
			&:hover {
				color: #ef5b70;
			}
			&:active {
				color: #ef5b70;
				font-weight: 700;
			}
		}
	}

//<SIDEBAR ACCORDiON>----------------------------------------------------------------------------------


//</SIDEBAR>============================================================================================

//<PRODUCT CONTENT>============================================================================================



@media (min-width: 720px) {
	.product-content {
		grid-area: product;
		display: grid;
		grid-template-areas:
			"productHead"
			"productGallery"
			"productFoot";
		grid-column: 2 / 2;
		grid-row: 1 / 1;
		margin-top: 71px;
		margin-left: 51px;
	}
}

//?<PRODUCT CONTENT HEAD>-------------------------------------------------------------------------------

@media (min-width: 1050px) {
	.product-content__head {
		grid-area: productHead;
		display: grid;
		grid-template-areas:
		"trendingHead"
		"sizeHead"
		"priceHead";
		grid-template: 74px / 177px 236px 263px;
		grid-template-columns: repeate(3, minmax(263px, 1fr));//!----------------удалить
		justify-content: space-between;
		margin-bottom: 41px;
		
	}
}

.product-content__head {
	margin-bottom: 41px;
}


.head__item {

	&-title {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 9px;
	}

	&_trending {
		grid-area: trendingHead;
		grid-column: 1 / 2;
		grid-row: 1 / 1;
	}
	&_size {
		grid-area: sizeHead;
		grid-column: 2 / 3;
		grid-row: 1 / 1;
	}
	&_price {
		grid-area: priceHead;
		grid-column: 3 / 4;
		grid-row: 1 / 1;
	}
}

@media (max-width:1049px) {
	.head__item {
		&-title {
			margin-top: 15px;
		}
	}
}


//<TRENDING>-----------------------------------------------
.trending {
	&__list {
		display: grid;
		justify-items: start;
		grid-template: repeat(2, 24px) / 40px 23px 30px 30px 54px;
		li {
			&:before {
				content: '';
				width: 2px;
				height: 10px;
				background-color: #6f6e6e;
				display: inline-block;
				color: #dfdfdf;
				margin-right: 10px;
				margin-left: 10px;
			}
			&:nth-child(5),
			&:nth-child(2),
			&:last-child,
			&:first-child {
				grid-column: span 2;
			}
			&:first-child::before {
				display: none;
			}
			&:nth-child(4)::before {
				display: none;
			}
			&:last-child,
			&:nth-child(3) {
				justify-self: end;
			}
		}
	}
	&__link {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		&:hover {
			color: #ef5b70;
		}
		&:active {
			color: #ef5b70;
			font-weight: 700;
		}
	}
}

//</TRENDING>-----------------------------------------------
//<SIZE>-----------------------------------------------


.size-content {
	display: grid;
	justify-items: start;
	grid-template: repeat(2, 24px) / repeat(4, 1fr);
	margin-top: 11px;
}

.checkbox_size {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	padding-left: 9px;
}

.sizeCheckbox {
	&:hover {
		.checkbox_size {
			cursor: pointer;
			color: #ef5b70;
		}
		#checkbox-XXS,
		#checkbox-XS,
		#checkbox-S,
		#checkbox-M,
		#checkbox-L,
		#checkbox-XL,
		#checkbox-XXL {
			cursor: pointer;
			color: #ef5b70;
		}
	}
	&:active {
		.checkbox_size,
		#checkbox-XXS,
		#checkbox-XS,
		#checkbox-S,
		#checkbox-M,
		#checkbox-L,
		#checkbox-XL,
		#checkbox-XXL {
			color: #ef5b70;
			font-weight: 700;
		}
	}
}


//</SIZE>-----------------------------------------------
//<PRICE>-----------------------------------------------


.price-content {
	display: grid;
	grid-template: 18px 32px / repeat(2, 1fr);
	align-items: end;
	position: relative;
	input {
		grid-column: 1 / 3;
		grid-row: 1 / 1;
	}
}

.price-price {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	
	&-1 {
		grid-column: 1;
		grid-row: 2;
		text-align: left;
	}
	&-2 {
		grid-column: 2;
		grid-row: 2;
		text-align: right;
	}
}
//!-------

#price-range {
	appearance: none !important;
	-moz-apperance: none !important;
	position: absolute;
	border-radius: 6px;
	top: -4px;
	left: 0;
	height: 8px;
	position: relative;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.5, #ef5b70),
		color-stop(0.5, #f0f0f0)
	);
}

#price-range:hover {
	box-shadow: 0 0 5px 0.5px #ef5b70;
	cursor: pointer;
}

#price-range:focus {
	appearance: auto !important;
	&::before {
		background-color: #6c6c6c;
	}
}

//#price-range:focus::-webkit-slider-thumb

#price-range::-webkit-slider-thumb {
	appearance: none !important;
	background-color: #ef5b70;
	cursor:pointer;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	position: absolute;
	top: -4px;
	left: 47%;
}

#price-range::before {
	content:'';
	background-color: #ef5b70;
	height: 15.5px;
	width: 15.5px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -4px;
	left: 0;
}

//!---------------------------


//</PRICE>-----------------------------------------------

//?</PRODUCT CONTENT HEAD>-------------------------------------------------------------------------------

//? <PRODUCT GALLERY>------------------------------------------------------------------------------------

.product-content__gallery {
	grid-area: productGallery;
}

//! <GALLERY INPUT BLOCK>-------------------------------------------------------------

@media (min-width: 323px) {
	.gallery__input-block {
		width: 100%;
		height: 50px;
		background-color: #f3f3f3;
		display: grid;
		grid-template: 1fr / 153px 119px;
		align-items: center;
		padding-left: 9px;
		margin-bottom: 58px;
	}
}

.gallery__input-block {
	background-color: #f3f3f3;
	padding: 9px;
	margin-bottom: 58px;
}

.sort-by {
	width: 153px;
	height: 30px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 65px 88px;
	margin: 0 auto;

	& p {
	display: inline-block;
	width: 153px-88;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	border-right: 1px solid #ebebeb;
	padding-left: 11px;
	}
}

@media (max-width: 323px) {
	.sort-by {
		margin: 0px auto 0;
	}
}

.name {
	&__select {
		position: relative;
		select {
			width: 99%;
			display: block;
			appearance: none;
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
			text-align: left;
			padding-left: 11px;
		}
		&::after {
			content: '';
			display: block;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #bdbdbd transparent transparent transparent;
			position: absolute;
			pointer-events: none;
			top: 11px;
			right: 14px;
		}

		&:active::after {
			border-color: #f0a8b1 transparent transparent transparent;
		}
	}
}

//!--------------------------------------
.head__show {
	width: 119px;
	height: 30px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 58px 61px;
	& p {
		display: block;
		width: 119px-64;
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
		border-right: 1px solid #ebebeb;
		padding-left: 11px;
	}
}

@media (max-width: 323px) {
	.head__show {
		margin: 9px auto 0;
	}
}

.show {
	&__select {
		position: relative;
		select {
			width: 100%;
			padding-left: 6px;
			appearance: none;
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
			text-align: left;
		}
		&::after {
			content: '';
			display: block;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #bdbdbd transparent transparent transparent;
			position: absolute;
			pointer-events: none;
			top: 11px;
			left: 35px;
			//z-index: 5;
		}

		&:active::after {
			border-color: #f0a8b1 transparent transparent transparent;
		}
	}
}



//! </GALLERY INPUT BLOCK>-------------------------------------------------------------

//! <GALLERY FOTO>-------------------------------------------------------------

@media (min-width: 1166px) {
	.gallery__foto {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
		grid-auto-rows: 1fr;
		grid-area: productGallery;
		column-gap: 30px;
		row-gap: 39px;
		margin-bottom: 43px;
	}
}

.gallery__foto {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
	grid-auto-rows: 1fr;
	grid-area: productGallery;
	column-gap: 30px;
	row-gap: 39px;
	margin-bottom: 43px;
}

.gallery__item-product {
	max-width: 261px;
	height: 364px;
	position: relative;
	justify-self: center;//!--------------
	
	&:hover {
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
		.single__link-product_img {
			filter: brightness(50%);
		}
		.addToCart {
			display: flex;
		}
	}
}

@media (max-width: 290px) {
	.gallery__item-product {
		margin-right: 10px;
	}
}

@media (max-width: 280px) {
	.gallery__item-product {
		margin-right: 15px;
	}
}

.product-text {
	display: grid;
	grid-auto-flow: row;
	grid-template: 1fr auto / 1fr ;
	padding: 20px 15px 0 15px;
	text-align: left;
	&__title {
		color: #222222;
		font-family: Lato;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		padding-bottom: 17px;
	}
	&__price {
		color: #f16d7f;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

//<ССЫЛКА №2 ADD TO CART>------------------

//todo ---СМ. STYLE.SCSS ДЛЯ INDEX.HTML

//</ССЫЛКА №2 ADD TO CART>-----------------

//! </GALLERY FOTO>-------------------------------------------------------------


//? </PRODUCT GALLERY>------------------------------------------------------------------------------------

//?<PRODUCT CONTENT FOOT>-------------------------------------------------------------------------------

.product-content__foot {
	grid-area: productFoot;
	height: 44px;
	background-color: #ffffff;
	margin-bottom: 110px;
}

@media (max-width: 875px) {
	.product-content__foot {
		margin-bottom: 203px;
	}
}

.product-foot {
	&__row {
		@include flexbox();
		justify-content: space-between;
	}
	&__slider {
		@include flexbox();
		justify-content: start;
		position: relative;
		width: 261px;
		height: 44px;
		border-radius: 3px;
		border: 1px solid #ebebeb;
		background-color: #ffffff;
	}
	&__button {
		color: #ef5b70;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		text-align: left;
		padding: 13px 44px;
		border-radius: 3px;
		border: 1px solid #ef5b70;
		background-color: #ffffff;
		&:hover {
			color: #ef5b70;
			border: 1px solid #ef5b70;
			box-shadow: inset 0 0 20px #ef5b70;
			transition: all 0.5s ease;
		}
		&:active {
			box-shadow: inset 0 0 10px #ef5b70;
			color: #f761789a;
			transition: all 0.5s ease;
		}
	}
	&__list {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		width: 183px;
		margin-left: 37px;
	}
	&__link {
		color: #c4c4c4;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
		&_active {
			color: #ef5b70;
		}
		&:hover {
			color: #ef5b70;
			cursor:pointer;
		}
		&:active {
			color: #ef5b70;
			font-weight: 700;
		}
	}
}

@media (max-width: 875px) {
	.product-foot {
		&__row {
			flex-direction: column;
			align-items:center;
		}
		&__button {
			margin-top: 50px;
		}
	}
}

.icon-ctrl-1 {
	&:before {
		content: "\ea50";
		display: inline-block;
		position: absolute;
		top: 19.5px;
		left: 10px;
		width: 16px;
		height: 8px;
		color: #aaaaaa;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		transform: rotate(-90deg);
	}
	&:hover:before {
		color: #ef5b70;
		cursor: pointer;
	}
	&:active:before {
		color: #ef5b70;
		font-size: 25px;
		top: 22px;
		left: 10px;
	}
}

.icon-ctrl-2 {
	&:after {
		content: "\ea50";
		display: inline-block;
		width: 16px;
		height: 8px;
		color: #ef5b70;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		transform: rotate(90deg);
		position: absolute;
		top: 15px;
		right: 10px;
	}
	&:hover:after {
		color: #ef5b70;
		cursor: pointer;
	}
	&:active:after {
		color: #ef5b70;
		font-size: 25px;
		top: 12.5px;
		right: 10px;
	}
}


//?</PRODUCT CONTENT FOOT>-------------------------------------------------------------------------------

//</PRODUCT CONTENT>============================================================================================



//<PRODUCT BLACK BLOCK>============================================================================================
//!____________ВАРИАНТ 1__FLEX______START___

/*------------------------------------------
.product-black {
	//flex: 0 1 32.72%;
	background-color: #222224;
	min-height: 341px;

	&__row {
		@include flexbox();
		//flex-direction: column;
		padding: 89px 0 114px;
		height: 100%;
		justify-content: space-between;
	}

	&__item {
		max-width: 309px;
		//height: 100%;
		@include flexbox();
		flex-direction: column;

		img {
			height: 32px;
			margin-bottom: 29px;
		}
	}

	&__item-title {
		color: #fbfbfb;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.5px;
		line-height: 33px;
	}

	&__item-text {
		color: #fbfbfb;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: justify;
		letter-spacing: 0.35px;
		padding-top: 11px;

	}
}

.product-discounts {
	img {
		height: 42px;
		margin-bottom: 19px;
	}
}

-------------------------------------*/

//!____________ВАРИАНТ 1__FLEX______END___

//</PRODUCT BLACK BLOCK FLEX>============================================================================================

// todo ------------------------------------------------------------------------

//<PRODUCT BLACK BLOCK GRID>============================================================================================

//!____________ВАРИАНТ 2__GRID______START___


@media (min-width: 1050px) {
	.product-black {
		//flex: 0 1 32.72%;
		background-color: #222224;
		min-height: 341px;
		&__row {
			display: grid;
			padding: 89px 0 114px;
		}
		&__item {
			display: grid;
			row-gap: 32px;
			grid-auto-flow: row;
			grid-template: auto 1fr / 1fr;
		}
	}
}

	.product-black {
		background-color: #222224;
		min-height: 341px;
		&__row {
			grid-template-columns: repeat(3, 309px);
			padding: 70px 0;
			height: 100%;
			justify-content: space-between;
			
		}

		&__item {
			display: grid;
			row-gap: 32px;
			grid-auto-flow: row;
			grid-template: auto 1fr / 1fr;
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				height: 32px;
				justify-self: center;
			}
			&-content {
				@include flexbox();
				flex-direction: column;
				max-width: 309px;
				justify-self: center;
			}
		}
		&__item-title {
			color: #fbfbfb;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			letter-spacing: 0.5px;
			line-height: 33px;
		}
		&__item-text {
			color: #fbfbfb;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			text-align: justify;
			letter-spacing: 0.35px;
			padding-top: 11px;
		}
	}

.product-discounts {
	img {
		height: 42px;
		margin-bottom: -10px;
		
	}
}

.product-assurence {

}

//!____________ВАРИАНТ 2__GRID______END___

//</PRODUCT BLACK GRID>============================================================================================
