
.product-grid {
	
}

//<SIDEBAR>============================================================================================
//<SIDEBAR ACCORDiON>----------------------------------------------------------------------------------

.product-sidebar {
	
}

.sidebar__accordion-menu {
	margin: 89px 0 93px 0;
}

.sidebar__trigger {
	border-bottom: 1px solid #e8e8e8;
}

.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-1,
.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-2,
.sidebar__accordion-menu .sidebar__trigger #checkbox-sidebar-3 {
	display: none;
}

.sidebar__accordion-menu .sidebar__trigger .checkbox {
	font-size: 16px;
	margin: 0;
	line-height: 72px;
	color: #222222;
	font-weight: 700;
	cursor: pointer;
	background-color: #ffffff;
	text-transform: uppercase;

	&:hover {
		color: #ff0d0d;
	}

	&:active {
		color: #929292;
	}
}

.sidebar__accordion-menu .sidebar__trigger .sidebar__content {
	position: relative;
	max-height: 1px;
	padding: 0;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 1.5;
	background-color: #ffffff;
	transition: max-height 500ms ease-in-out;
	overflow: hidden;
}

#checkbox-sidebar-1:checked~.sidebar__content,
#checkbox-sidebar-2:checked~.sidebar__content,
#checkbox-sidebar-3:checked~.sidebar__content {
	max-height: 473px;
	transition: max-height 500ms ease-in-out;
}

.sidebar__content {
	&-row {
		//@include flexbox();
		//min-height: 473px;
	}
}

//<SIDEBAR ACCORDiON>----------------------------------------------------------------------------------


//</SIDEBAR>============================================================================================

//<CONTENT CONTENT>============================================================================================

//?<PRODUCT CONTENT HEADER>-------------------------------------------------------------------------------





//?</PRODUCT CONTENT HEADER>-------------------------------------------------------------------------------

//? <PRODUCT GALLERY>------------------------------------------------------------------------------------

//! <GALLERY INPUT BLOCK>-------------------------------------------------------------

.gallery__input-block {
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
}

.sort-by {
	width: 153px;
	height: 30px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;

  & p {
	display: block;
	width: 153px-85;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
  }
}

.name {
	&__select {
		position: relative;
		width: 85px;
		height: 30px;
		//margin-bottom: 20px;

		select {
			width: 100%;
			height: 100%;
			color: #6f6e6e;
			//border: 1px solid #ebebeb;
			//background-color: #ffffff;
			padding-left: 18px;
			appearance: none;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			text-align: left;
		}

		&::after {
			content: '';
			//display: block;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #bdbdbd transparent transparent transparent;
			position: absolute;
			pointer-events: none;
			top: 20px;
			right: 12px;
		}

		&:active::after {
			border-color: #f0a8b1 transparent transparent transparent;
		}
	}
}

.head__show {
	width: 119px;
	height: 30px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;

	& p {
		display: block;
		width: 119px-64;
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 400;
		line-height: 26px;
		text-align: left;
	}
}

.show {
	&__select {
		position: relative;
		width: 85px;
		height: 30px;
		//margin-bottom: 20px;

		select {
			width: 100%;
			height: 100%;
			color: #6f6e6e;
			//border: 1px solid #ebebeb;
			//background-color: #ffffff;
			padding-left: 18px;
			appearance: none;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			text-align: left;
		}

		&::after {
			content: '';
			display: block;
			border-style: solid;
			border-width: 9px 6px 0 6px;
			border-color: #bdbdbd transparent transparent transparent;
			position: absolute;
			pointer-events: none;
			top: 20px;
			right: 12px;
		}

		&:active::after {
			border-color: #f0a8b1 transparent transparent transparent;
		}
	}
}

//! </GALLERY INPUT BLOCK>-------------------------------------------------------------

//! <GALLERY FOTO>-------------------------------------------------------------

.gallery__foto {}


.gallery__row {
	//display: flex;
	//flex-wrap: wrap;
	//width: 100%;
}


.gallery__item {
	max-width: 261px;
	height: 364px;
	position: relative;
	margin-right: 30px;
	margin-bottom: 39px;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&:hover {
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);

		.single__link_img {
			filter: brightness(50%);
		}

		.addToCart {
			display: flex;
		}
	}
}

//! </GALLERY FOTO>-------------------------------------------------------------


//? </PRODUCT GALLERY>------------------------------------------------------------------------------------

//?<PRODUCT CONTENT FOOTER>-------------------------------------------------------------------------------

.product-content__foot {
	width: 100%;
	height: 44px;
	background-color: #ffffff;
}

.product-foot {
	&__row {

	}
	&__slider {
		width: 261px;
		height: 44px;
		border-radius: 3px;
		border: 1px solid #ebebeb;
		//background-color: #ffffff;
	}
}

.foot {
	&__list {

	}
	&__button {
		color: #c4c4c4;
		font-size: 16px;
		font-weight: 700;
		line-height: 26px;
		text-align: center;
		&_active {
			color: #ef5b70;
		}
	}
}





//?</PRODUCT CONTENT FOOTER>-------------------------------------------------------------------------------


//</CONTENT>============================================================================================
