
//<MAIN SCREEN>==========================================
.mainScreen_single-item {
	@include flexbox();
	position: relative;
	height: 80vh;
	width: 100%;
	height: 777px;
	border: 1px solid #eaeaea;
	background-color: #f7f7f7;
	.mainScreen__img {
		background: url('../img/single_item/main_single_item.jpg') center no-repeat;
		width: 100%; 
	}
	.slider__arrow {
		width: 47px;
		height: 47px;
		background-color: #D8D8D8;
		text-align: center;
		align-self: center;
		&_l {
			transform: rotate(270deg);
			padding-top: 18px;
		}
		&_r {
			transform: rotate(90deg);
			padding-top: 18px;
		}
		&:hover {
			background-color: #D8D8D8;
			border: 1px solid #000;
		}
		&:active {
			background-color: #6c6c6c;
			border: none;
		}
	}
}

.icon-ctrl:hover::before {
	color: #000;
}

.icon-ctrl:active::before {
	color: #ffffff;
}


//</MAIN SCREEN>==========================================

//<MOSCHINO CHEAP AND CHICK>==========================================

//TITLE-----------
.empty {
	position: relative;
}

.moschino {
	min-height: 730px;
	width: 100%;
	@include flexbox();
	align-items:center;
	position: absolute;
	top: -85px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	padding: 73px 0 122px 0;
	&__row {
		@include flexbox();
		max-width: 648px;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin: 0 auto;
		padding: 0 15px;
	}
	&__title {
		@include flexbox();
		flex-direction: column;
		align-items:center;
		padding-bottom: 13px;
		&-h5 {
			color: #f16d7f;
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
}

@media (max-width: 500px) {
	.moschino {
		padding-bottom: 70px;
	}
}

//SLIDER------------
.moschino-slider {
	margin-top: 13px;
	&__row {
		@include flexbox();
	}
	&__item {
		width: 147px;
		height: 1px;
	}
}

.slider__item_l {
	width: 42px;
	border: 1px solid #eaeaea;
	align-self:center;
	&:hover {
		cursor: pointer;
		background-color: #f16d7f;
		border: 1.5px solid #f16d7f;
	}
}

.slider__item_c {
	width: 42px;
	height: 3px;
	background-color: #ef5b70;
	&:hover {
		cursor: pointer;
		background-color: #eaeaea;
		border: 1px solid #eaeaea;
	}
}

.slider__item_r {
	width: 42px;
	border: 1px solid #eaeaea;
	align-self:center;
	&:hover {
		cursor: pointer;
		background-color: #f16d7f;
		border: 1.5px solid #f16d7f;
	}
}

//CHEAP AND CHIC-----

.moschino__cheap-chic {
	@include flexbox();
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 44px;
	&-title {
		color: #4d4d4d;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	&-text {
		color: #5e5e5e;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		padding-bottom: 28px;

	}
}

.moschino__material-designer-row {
	@include flexbox();
	justify-content: center;
	//flex-wrap: wrap;//!-----------------
	padding-bottom: 37px;
}

@media (max-width: 397px) {
	.moschino__material-designer-row {
		flex-direction: column;
	}
}

.moschino__material-content {
	color: #b9b9b9;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-right: 44px;
	span {
		color: #2f2f2f;
	}
}

@media (max-width: 397px) {
	.moschino__material-content {
		margin-right: 0;
	}
}

.moschino__designer-content {
	color: #b9b9b9;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	span {
		color: #2f2f2f;
	}
}

.moschino__price {
	color: #ef5b70;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}

//CHOOSE---------------

.moschino__choose {
	width: 100%;
	max-width: 537px;
	padding-top: 63px;
	padding-bottom: 28px;
	&-row {
		@include flexbox();
		justify-content: space-between;
	}
	&_item {
		margin-right: 20px;
	}
}


@media (max-width: 500px) {
	.moschino__choose {
		//max-width: 537px;
		&-row {
			flex-direction: column;
			align-items: center;
		}
		&_item {
			margin-right: 0;
			margin-bottom: 28px;
		}
	}
}
	

.title {
	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.moschino__choose-color {
	@include flexbox();
	flex-direction: column;
	position: relative;
	}
	


.choose-color {
	&__title {

	}
	&__select {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-left: 37px;
		option {
		}
		.option-red {
			color: red;
		}
		.option-green {
			color: green;
		}
		.option-blue {
			color: blue;
		}
		.option-yellow {
			color: rgb(150, 150, 7);
		}
	}
}

.checkbox-color {
	position: absolute;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox-color + label {
	position: relative;
	padding: 0 0 0 60px;
}

.checkbox-color + label:before {
	content: '';
	position: absolute;
	top: 12px;
	left: 15px;
	width: 12px;
	height: 12px;
	background: red;
}

.moschino__choose-size {
	@include flexbox();
	flex-direction: column;
}

.choose-size {
	&__title {
		
	}
	&__select {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-left: 12px;
	}
}

.moschino__choose-quantity {
	@include flexbox();
	flex-direction: column;
}

.choose-quantity {
	&__title {
		
	}
	&__input {
		width: 144px;
		height: 35px;
		border: 1px solid #eaeaea;
		background-color: #ffffff;
		color: #bcbcbc;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		&[placeholder] {
			color: #bcbcbc;
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;
			text-align: left;
			padding-left: 15px;
		}
		&:focus {
			border: 1px solid red;
		}
	}
}


//BUTTON---------------

.moschino-btn {
	height: 55px;
	width: 100%;
	max-width: 537px;
	border: 1.5px solid #ef5b70;
	
	&__row {
		@include flexbox();
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items:center;
	}
	&__link {
		display: inline-block;
		color: #ef5b70;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		background-color: #ffffff;
		margin-left: 15px;
		//padding: 23px 206px 21px 248px;
	}
	&:hover {
		box-shadow: inset 0 0 20px #ef5b70;
		color: #ef5b70;
		transition: all 0.5s ease;
		cursor: pointer;
	}
	&:active {
		box-shadow: inset 0 0 10px #ef5b70;
		color: #f761789a;
		transition: all 0.5s ease;
	}
}

/*
@media (max-width: 600px) {
	.moschino-btn {
		//width: 144px;
	}
}
*/

//</MOSCHINO CHEAP AND CHICK>==========================================

.empty-2 {
	height: 763px;
}

@media (max-width: 500px) {
	.empty-2 {
		margin-bottom: 200px;
	}

}

@media (max-width: 400px) {
	.empty-2 {
		margin-bottom: 230px;
	}
}

@media (max-width: 348px) {
	.empty-2 {
		margin-bottom: 240px;
	}

}

@media (max-width: 335px) {
	.empty-2 {
		margin-bottom: 280px;
	}
}

@media (max-width: 300px) {
	.empty-2 {
		margin-bottom: 320px;
	}
}

//<YOU MAY LIKE ALSO>=================================================

.likeAlso {
	margin-top: 44px;
	margin-bottom: 73px;
	&__title {
		color: #4d4d4d;
		font-size: 24px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 70px;
	}
	&__gallery {
		&_row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&_item {
			max-width: 261px;
			height: 364px;
			position: relative;
			&:nth-child(4n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover { //ВНИМАНИЕ!!! ОСНОВНЫЕ СТИЛИ ССЫЛОК НА INDEX.HTML / STYLE>SCSS 
				box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
				.single__link img {	//ВНИМАНИЕ!!! ОСНОВНЫЕ СТИЛИ ССЫЛОК НА INDEX.HTML / STYLE>SCSS
					filter: brightness(50%);
				}
				.addToCart { //ВНИМАНИЕ!!! ОСНОВНЫЕ СТИЛИ ССЫЛОК НА INDEX.HTML / STYLE>SCSS
					display: flex;
				}
			}
		}
	}
}

@media (max-width: 1140px) {

.likeAlso {
	&__gallery {
		&_row {
			justify-content: space-evenly;
		}
	}
}

}

.single__link img { //ВНИМАНИЕ!!! ОСНОВНЫЕ СТИЛИ ССЫЛОК НА INDEX.HTML / STYLE>SCSS
		width: 100%;
}

.likeAlso__item_2 {
	margin-top: -12px;

}

.likeAlso-item-text {
	padding: 20px 15px 0 15px;
	text-align: left;

	&__title {
		color: #222222;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		padding-bottom: 17px;
	}
	&__price {
		color: #f16d7f;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
}


//</YOU MAY LIKE ALSO>=================================================
